@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-color: #181818;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: 'OptimusPrinceps', 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content-box {
    width: 1000px;
    margin: auto;
    background-color: #33332B;
    border-radius: 20px;
    margin-top: 40px;
    border: grey 2px solid;
    padding: 20px;
}

.top-title-and-logo {
    margin-bottom: 25px;
}

.top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #994444;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: center;
    padding: 20px;
}

    .top-row h1 {
        font-size: 60px;
        display: inline-block;
        margin: 0px 20px;
    }

    .top-row > a, .main .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.main {
    flex: 1;
}


.logo {
    width: 80px;
    vertical-align: bottom;
}

.set-symbol {
    background-image: radial-gradient(circle, yellow 4%, orange, transparent 50%);
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav {
    /* justify-content: center; */
}

.nav-item {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        border: 1px white solid;
        border-radius: 8px;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.pitch {
    padding: 20px 40px 10px 40px;
}

.planeswalkers-explanation {
    width: 800px;
    padding: 10px 30px;
}

    .planeswalkers-explanation p {
        margin: auto 0px;
    }

.card-image {
    border-radius: 12px;
}

.spoiler-inputs {
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
}

    .spoiler-inputs .content-box {
        margin-top: 0px;
        width: unset;
    }

    .spoiler-inputs button {
        display: block;
        background-color: whitesmoke;
        padding: 12px;
        border-radius: 5px;
        font-size: 20px
    }

    .spoiler-inputs .spoiler-inputs-box {
        padding: 20px;
        padding-bottom: 0px;
    }

    .spoiler-inputs .spoiler-inputs-stats {
        display: flex;
        justify-content: space-between;
        width: 202px;
    }

.spoiler-inputs-section {
    margin-bottom: 10px;
}

.spoiler-holder {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 1250px !important;
    border: grey 2px solid;
    border-radius: 10px;
    justify-content: space-evenly;
    padding: 20px;
}

    .spoiler-holder.full-info {
        display: block;
    }

    .spoiler-holder.space-between {
        justify-content: space-between;
    }

.short-input {
    width: 30px;
}

.spoiler-render {
    display: inline-block;
    margin-bottom: 15px;
}

.spoiler-holder .individual-card-spoiler-info-holder {
    display: contents;
}

.spoiler-holder .individual-card-info {
    display: none;
}


.spoiler-holder.full-info .individual-card-spoiler-info-holder {
    display: block;
    margin-bottom: 20px;
}

    .spoiler-holder.full-info .individual-card-spoiler-info-holder:not(:last-child) {
        border-bottom: 1px solid #808080;
    }

.spoiler-holder.full-info .individual-card-info {
    display: inline-block;
    padding: 10px;
    position: absolute;
    margin-left: 20px;
    width: 800px;
}

.power-toughness {
    text-align: right;
}

hr {
    border-color: grey;
}

.features-div {
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #33332B;
}

.features-title {
    text-align: center;
}

.mechanics-and-themes {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 30px;
    grid-template-rows: 33% 33% 33%;
}

    .mechanics-and-themes .mechanics-and-themes-feature {
        margin: auto;
    }

        .mechanics-and-themes .mechanics-and-themes-feature img {
            box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
            width: 330px;
        }

        .mechanics-and-themes .mechanics-and-themes-feature h3 {
            text-align: center;
            margin-bottom: 20px;
        }

.color-pie-entry {
    height: 480px;
    width: 800px;
    border: none;
    margin: auto;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    .color-pie-entry img {
        width: 300px;
    }

    .color-pie-entry .color-pie-entry-info {
        display: inline-block;
        width: 400px;
    }

        .color-pie-entry .color-pie-entry-info h4 {
            text-align: center;
        }

.footer {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    font-size: 12px;
    padding-bottom: 10px;
    color: gray;
}

.content > h2 {
    text-align: center;
    margin-top: 40px;
}

.pitch p {
    margin-left: 10px;
}

.labs-link {
    padding: 6px;
    border: 2px solid grey;
    font-size: 32px;
    color: white;
    display: block;
    background-color: #bdc9d0;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
}

    .labs-link img {
        width: 400px;
    }

.credits-box {
    padding: 20px;
}

    .credits-box .credits-flex {
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: wrap;
        height: 440px;
    }

    .credits-box .credits-item {
        margin: 10px 6px;
    }

.draft-archetypes-box {
    padding: 20px;
}

.page-tab-selector {
    display: flex;
    justify-content: center;
}

    .page-tab-selector button {
        padding: 6px;
        background-color: antiquewhite;
        border-radius: 6px;
        font-family: 'OptimusPrinceps', 'Times New Roman', Times, serif;
        font-size: 28px;
    }

        .page-tab-selector button:focus {
            outline: none;
        }

        .page-tab-selector button img {
            width: 40px;
        }

        .page-tab-selector button.active {
            background-color: orange;
        }

.archetype-description.undisplayed {
    display: none;
}

.draft-archetypes-selector button:focus {
    outline: none;
}

.archetype-description.displayed {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.archetype-description .archetype-description-body {
    margin-right: 10px;
}

    .archetype-description .archetype-description-body h3 {
        padding-top: 10px;
    }

        .archetype-description .archetype-description-body h3 img {
            width: 28px;
        }

        .archetype-description .archetype-description-body h4 {
            margin-top: 15px;
        }

.mechanics-box {
    width: 1200px;
    padding: 20px;
}

.mechanic-description.undisplayed {
    display: none;
}

.draft-mechanics-selector button:focus {
    outline: none;
}

.mechanic-description.displayed {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.mechanic-description .mechanic-description-body {
    margin-right: 10px;
    margin-bottom: 10px;
}

    .mechanic-description .mechanic-description-body img {
        width: 28px;
    }

    .mechanic-description .mechanic-features {
        display: flex;
        justify-content: space-evenly;
    }

.mana-cost {
    position: absolute;
    top: 14px;
    right: 0px;
}

    .mana-cost img {
        width: 28px;
    }

.spoiler-subtitle {
    text-align: center;
    font-size: 18px;
}

.loading-bar {
    text-align: center;
    margin: auto;
    font-size: 26px;
    font-family: 'OptimusPrinceps', 'Times New Roman', Times, serif;
}

.move-to-top {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .4s;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: wheat;
    font-size: 28px;
    position: fixed;
    right: 100px;
    top: 16px;
    z-index: 1000;
    font-family: 'OptimusPrinceps', 'Times New Roman', Times, serif;
}

body.header-not-at-top .move-to-top {
    opacity: .8;
    display: block;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        . display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    /*.main .top-row {
        position: sticky;
        top: 0;
    }*/

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
