@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #181818;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: 'OptimusPrinceps', 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    font-size: 1.3rem;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content-box {
    width: 1000px;
    margin: auto;
    background-color: #33332B;
    border-radius: 20px;
    margin-top: 40px;
    border: grey 2px solid;
    padding: 20px;
    max-width: 100%;
}

.top-title-and-logo {
    margin: 0px auto;
    margin-bottom: 10px;
}

.top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    background-image: url("/images/smoke.jpg");*/
    background-color: #630d0d;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#title {
    font-size: 4rem;
    display: inline-block;
    margin: 0px 20px;
    text-shadow: 0px 0px 3px white;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-color: goldenrod;
    color: transparent;
    text-align: center;
}

.top-row > a, .main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.main {
    flex: 1;
}


.logo {
    width: 80px;
    vertical-align: bottom;
}

.set-symbol {
    background-image: radial-gradient(circle, yellow 4%, orange, transparent 50%);
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav {
    flex-direction: row;
}

#nav-menu-toggle {
    display: none;
    background-color: inherit;
    border: none;
}
    #nav-menu-toggle::before {
        color: white;
    }

    #nav-menu-toggle:focus {
        outline: none;
    }

.nav-item {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        border-radius: 8px;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.pitch {
    padding: 20px 40px 10px 40px;
}

.planeswalkers-explanation {
    width: 800px;
    padding: 10px 30px;
}

    .planeswalkers-explanation p {
        margin: auto 0px;
    }

#tagline {
    font-size: 36px;
    text-align: center;
    margin-top: 15px;
}

.card-image {
    border-radius: 12px;
}

.spoiler-inputs {
    margin: 20px auto;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 100%;
}

    .spoiler-inputs .content-box {
        margin-top: 0px;
        width: unset;
    }

    .spoiler-inputs button {
        display: inline-block;
        background-color: whitesmoke;
        padding: 12px;
        border-radius: 5px;
        font-size: 20px
    }

    .spoiler-inputs .spoiler-inputs-stats {
        display: flex;
        justify-content: space-between;
        width: 202px;
    }

#advanced-options-button {
    align-self: flex-end;
    color: #5f9ea0;
    padding: .5rem 1rem;
    border-radius: 8px;
    line-height: 3rem;
}

    #advanced-options-button:hover {
        background-color: rgba(255,255,255,0.1);
        color: #66babd;
        cursor: pointer;
    }

.non-advanced-inputs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-column-gap: 20px;
}

.spoiler-inputs-section {
    margin-bottom: 10px;
}

    .spoiler-inputs-section label {
        margin-right: 10px;
    }

.advanced-filters-flex {
    flex-direction: row;
    grid-column-gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.spoiler-holder {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 1250px;
    border: grey 2px solid;
    border-radius: 10px;
    justify-content: space-evenly;
    padding: 20px;
}

    .spoiler-holder.full-info {
        display: block;
    }

    .spoiler-holder.space-between {
        justify-content: space-between;
    }

    .spoiler-holder.center {
        justify-content: center;
    }

    .spoiler-holder.left {
        justify-content: left;
    }

    .spoiler-holder.right {
        justify-content: right;
    }

.short-input {
    width: 30px;
}

.spoiler-render {
    display: inline-block;
    margin-bottom: 15px;
}

.spoiler-holder .individual-card-spoiler-info-holder {
    display: contents;
}

.spoiler-holder .individual-card-info {
    display: none;
}


.spoiler-holder.full-info .individual-card-spoiler-info-holder {
    display: block;
    margin-bottom: 20px;
}

    .spoiler-holder.full-info .individual-card-spoiler-info-holder:not(:last-child) {
        border-bottom: 1px solid #808080;
    }

.spoiler-holder.full-info .individual-card-info {
    display: inline-block;
    padding: 10px;
    position: absolute;
    margin-left: 20px;
    width: 800px;
}

.power-toughness {
    text-align: right;
}

hr {
    border-color: grey;
}

.features-div {
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding-top: 40px;
    background-color: #33332B;
}

.features-title {
    text-align: center;
}

.mechanics-and-themes {
    margin: 20px 0px;
    display: grid;
    grid-row-gap: 35px;
    grid-template-columns: 50% 50%;
}

    .mechanics-and-themes .mechanics-and-themes-feature img {
        box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
        width: 330px;
        display: block;
        margin: auto;
        max-width: 100%;
    }

    .mechanics-and-themes .mechanics-and-themes-feature h3 {
        text-align: center;
        margin-bottom: 20px;
    }

h3 .header-mana {
    width: 28px;
}

.color-pie-entry {
    width: 800px;
    border: none;
    margin: auto;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 30px 15px;
    grid-row-gap: 20px;
}

    .color-pie-entry:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .color-pie-entry .card-image {
        width: 300px;
        box-shadow: 0px 0px 20px 0px #222;
    }

    .color-pie-entry .color-pie-entry-info {
        display: inline-block;
        width: 400px;
    }

        .color-pie-entry .color-pie-entry-info h4 {
            text-align: center;
        }

.footer {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    font-size: 12px;
    padding-bottom: 10px;
    color: gray;
    max-width: 100%;
}

.content > h2 {
    text-align: center;
    margin-top: 40px;
}

.pitch p {
    margin-left: 10px;
}

.labs-link {
    padding: 6px;
    border: 2px solid grey;
    font-size: 32px;
    color: white;
    display: block;
    background-color: #bdc9d0;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
    margin-bottom: 20px;
}

    .labs-link img {
        width: 400px;
        max-width: 100%;
    }

.credits-box {
    padding: 20px;
}

    .credits-box .credits-flex {
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: wrap;
    }

    .credits-box .credits-item {
        margin: 10px 6px;
    }

.draft-archetypes-box {
    padding: 20px;
}

.page-tab-selector {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-row-gap: 10px;
    grid-column-gap: 4px;
}

    .page-tab-selector button {
        padding: 6px 12px;
        background-color: antiquewhite;
        border-radius: 6px;
        font-family: 'OptimusPrinceps', 'Times New Roman', Times, serif;
        font-size: 28px;
    }

        .page-tab-selector button:hover {
            background-color: #fae4c8;
        }

        .page-tab-selector button:active {
            background-color: orange;
        }

        .page-tab-selector button:focus {
            outline: none;
        }

        .page-tab-selector button img {
            width: 40px;
        }

button.active {
    background-color: orange;
}

.archetype-description.undisplayed {
    display: none;
}

.draft-archetypes-selector button:focus {
    outline: none;
}

.archetype-description.displayed {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    grid-column-gap: 20px;
    flex-wrap: wrap-reverse;
    grid-row-gap: 10px;
}

.archetype-description-body {
    width: 560px;
}

    .archetype-description-body h3 {
        padding-top: 10px;
    }

    .archetype-description-body h4 {
        margin-top: 15px;
    }

.archetype-description .card-image {
    box-shadow: 0px 0px 20px 0px #999;
}

.mechanics-box {
    width: 1200px;
    padding: 20px;
}

.mechanic-description.undisplayed {
    display: none;
}

.draft-mechanics-selector button:focus {
    outline: none;
}

.mechanic-description.displayed {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.mechanic-description .mechanic-description-body {
    margin-right: 10px;
    margin-bottom: 10px;
}

    .mechanic-description .mechanic-description-body img {
        width: 28px;
    }

.mana-cost {
    position: absolute;
    top: 14px;
    right: 0px;
}

    .mana-cost img {
        width: 28px;
    }

.spoiler-subtitle {
    text-align: center;
    font-size: 18px;
}

.loading-bar {
    text-align: center;
    margin: auto;
    font-size: 26px;
    font-family: 'OptimusPrinceps', 'Times New Roman', Times, serif;
}

.move-to-top {
    display: block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .4s;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: wheat;
    font-size: 28px;
    position: fixed;
    right: 100px;
    top: 16px;
    z-index: 1000;
    font-family: 'OptimusPrinceps', 'Times New Roman', Times, serif;
}

body.header-not-at-top .move-to-top {
    opacity: .8;
}

.card-feature-flex-small {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-row-gap: 20px;
}

.booster-pack {
    width: 1750px;
    grid-column-gap: 8px;
    justify-content: center;
}

    .booster-pack .card-image {
        width: 200px;
    }

.booster-pack-gen .buttons {
    display: flex;
    justify-content: center;
    grid-column-gap: 8px;
    flex-wrap: wrap;
    margin-top: 20px;
}

    .booster-pack-gen .buttons button {
        font-size: 20px;
        padding: 10px 20px;
        background-color: palegoldenrod;
        border-radius: 10px;
    }

        .booster-pack-gen .buttons button:hover {
            background-color: #ede6a1;
        }

        .booster-pack-gen .buttons button:active {
            background-color: #f5ea7a;
        }

        .booster-pack-gen .buttons button:focus {
            outline: none;
        }

.copy-to-clipboard {
    padding: 4px;
    background-color: #d4d4c1;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

    .copy-to-clipboard:hover {
        background-color: #d4d4b2;
    }

    .copy-to-clipboard:active {
        background-color: #dedea2;
    }

    .copy-to-clipboard:focus {
        outline: none;
    }

.booster-pack-gen .text-readout {
    border: 2px solid lightgrey;
    background-color: #58524b;
    border-radius: 12px;
    padding: 10px 0px;
    width: 240px;
    margin: auto;
    margin-top: 20px;
    font-size: .9rem;
}

.text-readout ul {
    margin-bottom: .5rem;
}

.big-download-links-holder {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 20px;
    grid-row-gap: 12px;
}

.big-download-link {
    font-size: 32px;
    padding: 16px 30px;
    background-color: #266d06;
    border-radius: 10px;
    color: white;
    border: 2px solid #76c176;
}

    .big-download-link:hover {
        color: white;
        text-decoration: none;
    }

    .big-download-link:not([href='']):hover {
        background-color: #297805;
    }

    .big-download-link:not([href='']):active {
        background-color: #319106;
    }

    .big-download-link[href=''] {
        background-color: #bbc1b8;
        border-color: #d6dad6;
        cursor: initial;
        pointer-events: none;
        color: #7c8c74;
    }

@media (max-width: 767.98px) {
    .individual-card-info {
        display: none !important;
    }

    .card-image {
        width: 280px;
    }

    #spoiler-inputs-display {
        display: none;
    }

    .spoiler-holder {
        justify-content: center !important;
        padding: 10px;
        margin-top: 0px;
    }

        .spoiler-holder .card-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    .credits-flex.mobile {
        display: flex;
    }

    .credits-flex:not(.mobile) {
        display: none;
    }

    .top-title-and-logo h1 {
        font-size: 52px;
    }

    .set-symbol {
        display: none;
    }

    .top-row .oi {
/*        display: none;
*/    }

    .move-to-top {
        display: none;
        position: sticky;
        margin: auto;
    }

    body.header-not-at-top .move-to-top {
        display: block;
        opacity: .8;
    }

    .archetype-description.displayed {
        justify-content: center;
    }

    .color-pie-entry {
        flex-wrap: wrap !important;
    }

    .color-pie-entry-info h3 {
        text-align: center;
    }

    .top-row {
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        height: 18rem;
        margin-top: 20px;
    }

        .nav.collapsed {
            display: none;
        }

    #nav-menu-toggle {
        display: block;
    }

    #title {
        font-size: 2.8rem;
    }

    .my-tooltip:hover .hover-image {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        width: 300px;
    }

    .booster-pack .card-image {
        width: 145px;
    }

    .content-box {
        display: contents;
    }

    .mechanics-and-themes {
        grid-template-columns: 100%;
        padding: 20px 10px;
    }

    .advanced-filters-flex {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-top: 10px;
    }

    .page-tab-selector {
        margin-bottom: 20px;
    }

    .content > h2 {
        margin-top: 0px;
    }

    #tagline {
        display: none;
    }
}

@media (min-width: 768px) {
    .credits-flex.mobile {
        display: none;
    }

    .credits-flex:not(.mobile) {
        display: flex;
    }
}
