@page "/Colors"

<h2>The Colors</h2>

<div class="color-pie-entry" style="background-color: #e5e2de; color: black;">
    <img class="card-image" src="/hlw_card_images/Astora Outcast.full.png" alt="Astora Outcast" />
    <div class="color-pie-entry-info">
        <h3>White</h3>
        <p>White showcases phantoms and adventurers, who help each other to brave the dangers of Lordran. It's also where the gods show their power, with miracles invoked by their name, and clerics that serve their will.</p>
    </div>
</div>
<div class="color-pie-entry" style="background-color: #adc8eb; color: black;">
    <div class="color-pie-entry-info">
        <h3>Blue</h3>
        <p>Blue showcases soul sorcerers, the scholarly and scientifically inclined mages of the Dark Souls universe. Blue is also heavily influenced by Seath, an ancient dragon and the world's first Soul Sorcery, whose research on the nature of souls and magic has spawned a vast archive.</p>
    </div>
    <img class="card-image" src="/hlw_card_images/Everlasting Research.full.png" alt="Everlasting Research" />
</div>
<div class="color-pie-entry" style="background-color: #a0a0a0; color: black;">
    <img class="card-image" src="/hlw_card_images/Artorias, Abyss-Stricken.full.png" alt="Artorias, Abyss-Stricken" />
    <div class="color-pie-entry-info">
        <h3>Black</h3>
        <p>Black showcases the despair that haunts the people of Lordran, and especially the Undead, almost all of whom will eventually fall to madness as they go hollow. It's also where we see the effects of The Abyss, which swallowed the land of Oolacile long ago.</p>
    </div>
</div>
<div class="color-pie-entry" style="background-color: #DFA499; color: black;">
    <div class="color-pie-entry-info">
        <h3>Red</h3>
        <p>Red showcases the Chaos Demons, a race of animal-like Demons born from the magmatic energy of the Chaos Flame. It's also where we see the pyromancy sages, shamans who worship fire and how it is embodied in nature.</p>
    </div>
    <img class="card-image" src="/hlw_card_images/Ceaseless Discharge.full.png" alt="Ceaseless Discharge" />
</div>
<div class="color-pie-entry" style="background-color: #A6B87D; color: black;">
    <img class="card-image" src="/hlw_card_images/Darkroot Hunt-Pack.full.png" alt="Darkroot Hunt-Pack" />
    <div class="color-pie-entry-info">
        <h3>Green</h3>
        <p>Green showcases a wide variety of things: The servants of Blighttown’s “Fair Lady” in Black/Green, the pyromancers and members of the dragon-path in Red/Green, the darkroot hunters in Green/Blue, and the magic of the old god's in GW.</p>
    </div>
</div>