@page "/Credits"

<h2>Credits</h2>

<div class="credits-box content-box">
    <p>
        This set could not have been completed without the help of my design partner Sol as well as many, many members of the Custom Magic Discord Server community. My thanks goes out to all of the below persons:
    </p>
    <div class="credits-flex">
        @foreach(string creditor in creditorsSorted)
        {
        <div class="credits-item">
            @creditor
        </div>
        }
    </div>

</div>

@code {
    Random rand = new Random();

    private List<string> creditorsSorted;
    private string[] creditors = new string[] {
        "Splitmoon", "Simon Williamson", "Calibur", "CasualR", "TEST", "Havoc", "ShadowCentaur", "Zangy", "DrChillbrain", "Cartridge", "Pinkmoth", "Oddsbod", "Reuben", "Static", "Piar", "Sol Invictus", "Zarepath", "Lycodrake", "Harb", "Fenhl", "DrakeXIV", "Lyca", "Blydden", "6000kj", "CrushCastles23", "CJTheMagicMan", "Admiral Walaby", "Koala", "Varionus", "MJacqueline", "Patches", "Mako", "Slime", "e_0", "Mzabsky", "Melonbomb", "Ancestral", "Rave Lord", "Passthechips", "Slayer", "Seismic Lawns", "Loki", "Wakarimasensei", "Leet Wizard", "IOwnALaptop", "Kat!", "Zach", "Sylphiod", "Auartic", "Deathbymanga"
    };
     
    protected override async Task OnInitializedAsync()
    {
        creditorsSorted = creditors.OrderBy(p => rand.Next()).ToList();
    }
}