@page "/Planeswalkers"

<h2>Planeswalkers</h2>

<div class="color-pie-entry" style="color: black; background-image: linear-gradient(90deg, #8C9D95 0%, #DFA499 100%);">
    <img class="card-image" src="/hlw_card_images/Trusty Patches.full.png" alt="Trusty Patches" />
    <div class="color-pie-entry-info">
        <h3>Trusty Patches</h3>
        <p>A jolly fellow, with many lifelong friends (Most of whom live short lives). Patches wanders the multiverse, plying his tricks of trade in places as varied as Boletaria, Yharnam, and Lothric.</p>
    </div>
</div>

<div class="color-pie-entry" style="color: black; background-image: linear-gradient(-90deg, #e5e2de 0%, #DFA499 100%);">
    <div class="color-pie-entry-info">
        <h3>Evander</h3>
        <p>The First Flame must be saved, at all costs. That is the duty of the Chosen Undead! Evander walks the bright path, alongside the faithful Warriors of Sunlight, and will sacrifice anything to save this world.</p>
    </div>
    <img class="card-image" src="/hlw_card_images/Evander, Sunlight Martyr.full.png" alt="Evander, Sunlight Martyr" />
</div>

<div class="color-pie-entry" style="color: black; background-image: linear-gradient(-90deg, #adc8eb 0%, #A6B87D 100%);">
    <img class="card-image" src="/hlw_card_images/Slaine, Fated Lord.full.png" alt="Slaine, Fated Lord" />
    <div class="color-pie-entry-info">
        <h3>Slaine</h3>
        <p>The First Flame casts long shadows, shadows in which the humans bide their time. Slaine accepts that the future of this world is humanity's future, and their's alone—and she plans to be prepared.</p>
    </div>
</div>