@page "/Play"

@inject Services.MagicSiteServices.WebsiteConfig config

@if (config.info.playPage)
{
    @if (config.info.playPageTitle != null)
    {
        <h2>@config.info.playPageTitle</h2>
    }

    <div class="big-download-buttons-holder">
        <div class="big-download-button">
            Download Loose Files
        </div>
        <div class="big-download-button">
            Download
        </div>
    </div>
}