.my-tooltip {
    text-decoration: none;
    position: relative;
    color: cornflowerblue;
    font-weight: bold;
    cursor: help;
}

    .my-tooltip .hover-image {
        display: none;
        border-radius: 18px;
    }

    .my-tooltip:hover .hover-image {
        display: block;
        position: fixed;
        z-index: 1000;
        top: 0px;
        left: 0px;
    }

@media (max-width: 767.98px) {
    .my-tooltip:hover img {
        200px;
    }
}