<span class="my-tooltip">
    @if (UseCardImage)
    {
        <img class="card-image" src=@($"/card_images/{CardName}.full.png")>
    }
    else
    {
        @CardName
    }
    @if (String.IsNullOrEmpty(BackSideCardName))
    {
        <img class="hover-image" src=@($"/card_images/{CardName}.full.png")>
    }
    else
    {
        <img class="hover-image" src=@($"/card_images/{CardName}_dfc.full.png")>
    }

</span>

@code {
    [Parameter]
    public string CardName { get; set; }

    [Parameter]
    public bool UseCardImage { get; set; }

    [Parameter]
    public string ImageClass { get; set; }

    [Parameter]
    public string BackSideCardName { get; set; }

    private string DFCClass
    {
        get
        {
            return String.IsNullOrEmpty(BackSideCardName) ? "single" : "ToolTipDFC";
        }
    }
}