@page "/Future"

@inject Services.MagicSiteServices.WebsiteConfig config

@if (config.info.futurePage)
{
    @if (config.info.futurePageTitle != null)
    {
        <h2>@config.info.futurePageTitle</h2>
    }

    <h2>Discord Server</h2>
    <a class="labs-link" href="https://discord.gg/ZxwXqEB">
        <img src="images/Discord.svg" />
    </a>

    <h2>Ashes of Lothric</h2>
    <div class="content-box">
        <p>Ashes of Lothric is the sequel set to Hollows of Lordran, and is currently in development. Join the above discord to ask Zeu about getting involved with designing the set, playtesting, or being an early reviewer!</p>
        <div class="card-feature-flex-small">
            <img class="card-image" style="width: 300px;" src="ash_previews/Mad Scholar's Creation.png" />
            <img class="card-image" style="width: 300px;" src="ash_previews/Soul of Cinder.png" />
            <img class="card-image" style="width: 300px;" src="ash_previews/Evander, Exhausted.png" />
        </div>
    </div>
}
